# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repos\Talk To Me (Server)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
